@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Montserrat:wght@300&family=Roboto&display=swap');

@import url(./mediaqueries.css);

:root {
  --fondoPrincipal: #f4f1e8;
  --btnEncriptar: #706fd3;
  --btnDesencriptar: #D8DFE8;
  --textoClaro: #495057;
  --textoBlanco: #FFFFFF;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; 
  background: var(--fondoPrincipal);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  padding: 23px;
}

.main {
  padding: 4rem 8%;
}

.box-container {
  background:  var(--fondoPrincipal);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.seccion1 {
  flex: 1 1 52rem;
}

.seccion1 textarea {
  width: 65rem;
  height: 40rem;
  background: var(--fondoPrincipal);
  font-size: 23px;
}

.seccion1 textarea,
.seccion2 textarea {
  border: none;
  padding: 12px;
  resize: none;  /* quita el borde esquinero inferior */
  color: #ff793f;
}

.seccion1 textarea:focus,
.seccion2 textarea:focus {
  outline: none
}

.seccion1 p {
  font-size: 1.4rem;
  color: var(--textoClaro);
}

.seccion1 .botones {
  padding: 1rem 2rem 2rem 0;
}

.seccion1 .botones .btn,
.seccion2 .botones .btn {
  border: none;
  border-radius: 24px;
  margin-right: 8px;
  width: 305px;
  height: 53px;
  cursor: pointer;
  font-size: 16px;
}

.seccion1 .botones .btn.btnEncriptar,
.seccion2 .botones .btn.btnCopiar {
  background: var(--btnEncriptar);
  color: var(--textoBlanco);  
  transition: 1s all;
}

.seccion1 .botones .btn.btnEncriptar:hover,
.seccion2 .botones .btn.btnCopiar:hover {
  opacity: .5;
  background: orangered;
}

.seccion1 .botones .btn.btnDesencriptar {
  background: var(--btnDesencriptar);
  border: 1px solid var(--btnEncriptar);
  color: var(--btnEncriptar);
}

.seccion1 .botones .btn.btnDesencriptar:hover {
  background: var(--btnEncriptar);
  color: var(--textoBlanco);
}


/* ------------- section 2 -------------- */

.seccion2 {
  flex: 1 1 13rem;
  background: var(--textoBlanco);
  text-align: center;
  border-radius: 23px;
  padding: 4rem 0;
  
  position: absolute;
  top: 7rem;
  left: 96rem;
}

.seccion2 .img {
  width: 50%;
  height: auto;
}

.seccion2 h2 {
  font-size: 2rem;
  margin: 2rem 0;
  padding: 2rem;
}
