@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Montserrat:wght@300&family=Roboto&display=swap');

:root {
  --fondoPrincipal: #f4f1e8;
  --btnEncriptar: #706fd3;
  --btnDesencriptar: #D8DFE8;
  --textoClaro: #495057;
  --textoBlanco: #FFFFFF;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; 
}

.header,
.main,
.section1 textarea.mensajeUsuario {
  background-color: var(--fondoPrincipal); 
}

/* caja logo */
.header .imagen {
  width: 120px; 
  margin-left: 23px;
}

.header .imagen img {
  margin-top: 23px;
}

.main {
  width: 100%;
  height: 89.5vh;
}

/* contiene section1 y section2 */
.cajaPadreSections {
  width: 99%;
  height: 97%;
}

.section1 {
  width: 73%;
  height: 100%;
}

.section2 {
  width: 25%;
  height: 97%;
  position: absolute;
  left: 1070px;
  top: 9px;  
}

.section1 textarea {
  border: none;
  padding: 12px;
  resize: none;  /* quita el borde esquinero inferior */
  color: #ff793f;
}

.section1 textarea:focus,
.section2 textarea:focus {
  outline: none
}

.section1 textarea.mensajeUsuario{
  margin: 95px 150px;
  height: 45%;
  font-size: 23px;  
}

.section1 .rodapie {
  font-size: 13px;
  color: var(--textoClaro);
  opacity: 0.8;
}

.section1 .rodapie,
.cajaPadreBotones {
  margin-left: 150px;
  margin-top: 13px;
}

.section1 .cajaPadreBotones .btn {
  border: none;
  border-radius: 24px;
  margin-right: 8px;
  width: 328px;
  height: 53px;
  cursor: pointer;
  font-size: 16px;
}

.section1 .cajaPadreBotones .btnEncriptarMensaje {
  background: var(--btnEncriptar);
  color: var(--textoBlanco);  
  transition: 1s all;
}

.section1 .cajaPadreBotones .btnEncriptarMensaje:hover {
  opacity: 0.7;
}

.section1 .cajaPadreBotones .btnDesencriptarMensaje {
  background: var(--btnDesencriptar);
  border: 1px solid var(--btnEncriptar);
  color: var(--btnEncriptar);  
}


/* -------- section2 --------------------------------------------------------------------------- */

.section2 .cajaContenido {
  /* border: 1px solid blue; */
  margin: 19px;
  height: 93%;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 23px;
}

.section2 .imagenMuneco {
  margin-top: 3rem;
}

.section2 .imagenMuneco img {
  width: 245px;
  height: 215px;  
  margin-top: 8rem;
}

.section2 .txt1Muneco {
  font-size: 2.5rem;
  margin: 2rem 0;
  font-weight: bold;
  line-height: 3.3rem;
}

.section2 textarea {
  border: none;
  resize: none;  /* quita el borde esquinero inferior */
  font-size: 23px;
  margin-bottom: 2.3rem;
}

.section2 .mensajeUsuario::placeholder {
  font-size: 16px;
  text-align: center;
  color: var(--textoClaro);
  opacity: 0.8;
}

/* boton de copiar */
.section2 .cajaContenido .btn {
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  width: 300px;
  height: 53px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--btnEncriptar);
  color: var(--textoBlanco);
}
